extends ../shared/template

block content
  h2 Your inventory
  .itemstable
    table
      tr
        th Name
        th Dimensions
        th Weight
        th Quantity
        th msrp
        th % off
        th cost
      each item in items
        tr(style="background-color:#{item.color}")
          td
            a(href='/items/#{item._id}') #{item.name}
          td= item.dimensions.l + 'x' + item.dimensions.w + 'x' + item.dimensions.h
          td= item.weight
          td= item.quantity
          td= item.msrp
          td= item.percentOff
          td= item.cost()

