extends ../shared/template

block content
  h2= item.name
  .show
    table
      tr
        th Name
        th Dimensions
        th Weight
        th Quantity
        th msrp
        th % off
        th cost
      tr(style="background-color:#{item.color}")
        td= item.name
        td= item.dimensions.l + 'x' + item.dimensions.w + 'x' + item.dimensions.h
        td= item.weight
        td= item.quantity
        td= item.msrp
        td= item.percentOff
        td= item.cost()
    form(method='post', action='/items/#{item._id}')
      input(type='hidden', name='_method', value='delete')
      button Delete Item


